@model Shopping_portal1.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:20px">
        <dt>
            @Html.DisplayNameFor(model => model.prdname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prdname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prdcatg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prdcatg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:8%">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
    </div>
